
.container {
  background: #000;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.heading{
  color: #fff;
  font-family: sans-serif;
  margin-top: 20px;
  text-align: center;
}


.list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-top: 20px;
  align-items: center;
}


.list::-webkit-scrollbar {
  width: 8px;
  align-items: center;
}

.list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.container button{
  height: 50px;
  width: 50px;
  color: #000;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.container button:active{
  transform: scale(0.9)
}
