.listItem {
  width: 90%;
  color: #000;
  text-align: left;
  padding: 10px 0;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-left:10px;
  margin-right:10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.listTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #000;
  font-family: sans-serif;
}
